:root {
    --backgroundColor: #e4e4e4;
}

* {
    margin: 0;
    font-family: Helvetica, sans-serif;
}

html {
    background-color: var(--backgroundColor);
}

#darkened {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.657);
    position: fixed;
    top: 0;
    left: 0;
    content: "";
    z-index: 1;
    display: none;
}

#sidebar {
    background-color: rgb(0, 7, 93);
    /* border-right: 2px solid rgb(163, 163, 163); */
    width: 0;
    height: 100vh;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 100px;
    transition: 0.5s;
}

#projects-list {
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    max-width: 90%;
    min-width: 90%;
    overflow: hidden;
    padding-bottom: 120px;
    text-align: center;
    color: white;
}

.projects-item {
    display: block;
    white-space: nowrap;
    font-size: 1.5em;
    width: auto;
    cursor: pointer;
}

.project-text {
    display: inline-block;
    width: 80%;
    margin-left: 5%;
    padding: 20px 0px 20px 0px;
}

.delete {
    display: inline-block;
    width: 10%;
    padding: 22px 0 10px 0;
    color: transparent;
    background-image: url(trash.svg);
    background-repeat: no-repeat;
    background-size: 70% 70%;
    background-position: center;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
}

#new-project {
    cursor: pointer;
    padding: 20px 20px 20px 20px;
    padding-right: 10%;
    display: block;
    white-space: nowrap;
    font-size: 1.5em;
    width: auto;
}

#input-div {
    width: 75vw;
    max-width: 300px;
    display: flex;
    padding: 20px 0px 20px 0px;
    margin: auto;
    cursor: auto;
}

#new-project-input {
    font-size: 1em;
    width: 80%;
    outline: none;
    border: none;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(0, 7, 93);
    color: white;
}

#new-project-submit {
    width: 15%;
    background-image: url(check.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}

#new-project-cancel {
    width: 15%;
    background-image: url(x_red.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}

#all-projects {
    background-color: #3254a8;
    padding-right: 10%;
    display: block;
    white-space: nowrap;
    font-size: 1.5em;
    width: auto;
    cursor: pointer;
}

#all-projects > p {
    display: inline-block;
    width: 80%;
    margin-left: 5%;
    padding: 20px 0px 20px 0px;
}

#close-sidebar {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 60px;
    height: 60px;
}

#open-sidebar {
    padding: 10px;
    width: 60px;
    height: 60px;
}

/* New Todo button */
#new-todo {
    text-align: center;
    height: 50px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    background-color: rgb(0, 7, 93);
    color: white;
    cursor: pointer;
    font-size: 1.4em;
}

#new-todo-form {
    display: none;
    animation: fadeIn 0.7s ease-out;
    width: 500px;
    margin: 20px;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

#title-input {
    background-color: rgb(0, 7, 93);
    outline: none;
    border: none;
    font-size: 0.8em;
    color: white;
    border: 1px solid white;
    margin: 10px;
    width: 90%;
}

#description-input {
    background-color: rgb(0, 7, 93);
    outline: none;
    border: none;
    font-size: 0.8em;
    color: white;
    border: 1px solid white;
    margin: 10px;
    width: 90%;
    height: 3.5em;
}

#date-input {
    background-color: rgb(0, 7, 93);
    outline: none;
    border: none;
    font-size: 0.8em;
    color: white;
    border: 1px solid white;
    margin: 10px;
}

::-webkit-calendar-picker-indicator {
    color: white;
    filter: invert();
}

#priority-input {
    background-color: rgb(0, 7, 93);
    outline: none;
    border: none;
    font-size: 0.9em;
    color: white;
    border: 1px solid white;
    margin: 10px;
}

#submit-todo, #cancel-todo {
    font-size: 0.9em;
    width: 40%;
    height: 40px;
    border: none;
    outline: none;
    background-color: #3254a8;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

/* Sort Buttons */
#sort-buttons {
    display: flex;
    justify-content: center;
    height: 40px;
}

#sort-priority, #sort-date {
    font-size: 1.2em;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: rgb(0, 7, 93);
    color: white;
    margin: 2px;
    width: 40%;
}

#sort-priority:hover, #sort-date:hover {
    background-color: #3254a8;
}

/* Edit todo */
.edit-title {
    margin: 10px;
}

.edit-description {
    margin: 10px;
}

.edit-date {
    margin: 10px;
}

.edit-priority {
    margin: 10px;
}

.edit-save, .edit-cancel {
    width: 50%;
    outline: none;
    border: none;
}


/* Main grid of todo items */
#container {
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--backgroundColor);
}

.grid-item {
    margin: 20px 0 10px 0;
    min-width: 100%;
    overflow: hidden;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15), 
    0 2px 2px rgba(0,0,0,0.15), 
    0 4px 4px rgba(0,0,0,0.15), 
    0 8px 8px rgba(0,0,0,0.15);
    height: fit-content;
    text-align: center;
}

.grid-item > * {
    margin: 20px;
}

.todo-title {
    font-size: 1.5em;
}

.todo-date {
    font-size: 1.1em;
}

.todo-description {
    line-height: 25px;
}

.edit-button {
    background-image: url(edit.svg);
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-position: center;
    border: none;
    outline: none;
    width: 50%;
    height: 40px;
    background-color: transparent;
    cursor: pointer;
    margin-top: 20px;
}

.delete-button {
    background-image: url(trash_black.svg);
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-position: center;
    border: none;
    outline: none;
    width: 50%;
    height: 40px;
    background-color: transparent;
    cursor: pointer;
    margin-top: 20px;
}


@media only screen and (min-width: 800px) {
    #sidebar {
        width: 350px;
    }
    
    #new-todo {
        margin-left: 370px;
        margin-right: 20px;
        margin-top: 5vh;
    }

    #sort-buttons {
        margin-left: 370px;
        margin-right: 20px;
    }

    #sort-priority, #sort-date {
        width: 200px;
    }

    #container {
        margin-left: 370px;
        margin-right: 20px;
    }

    .grid-item {
        min-width: 200px;
        margin: 15px;
        max-width: 600px;
    }


    #close-sidebar {
        display: none;
    }
    
    #open-sidebar {
        display: none;
    }

    .delete {
        background-size: 50% 50%;
    }
} 